.modal-box {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90vw; /* Cambiar el tamaño del modal a 80% del ancho de la ventana */
  max-width: 800px; /* Asegurarse de que no sea mayor de 600px */
  background-color: rgb(255, 255, 255);
  border: none;
  box-shadow: 24px;
}

  
#header-DAlmun{
  background-color: rgba(31, 145, 168, 1);
  color: white;
  padding: 0px ;
  text-align: center;
  font-size: 20px;
}
#header-DAlmun h2{
  color: white;
  position: relative;
  bottom: -40px;
  
}

.image-left{
  height: 100px;
  position: relative;
}
.image-left{
  right: 300px;
  top: 135px;
  margin-bottom: 0px;
  }



.image-right{
  height: 100px;
  position: relative;
  
}
.image-right{
left: 300px;
bottom: 50px;
margin-bottom: 0px;
}
