.Inputsagg-EditEmplead{
    width: 100%;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-top: 100px;
    text-align: center;
}



.Inputsagg-EditEmplead{
    width: 70%;
}

.Inputsagg-EditEmplead{
    position: relative;
    
}

.botones-EditEmplead button {
    position: relative;
    align-content: center;
    padding: 1em 8em;
    border-radius: 10px;
    border: none;
    transition: background-color 0.3s;
    left: -100px;
    margin-top: 100PX;
    margin-left: 190px;
    margin-bottom: 50px;
    color: rgba(224, 224, 224, 1);
    font-size: medium;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    
}

.uno:hover{
    background-color: rgb(224, 17, 17) ;
}

.uno{
    background-color:rgb(255, 0, 0);
}

.dos{
    background-color: rgba(23, 7, 91, 1);
}

.dos:hover{
    background-color: rgba(31, 145, 168, 1);
}

.icon-save{
    font-size: 50px;
}
.icon-cancel{
    font-size: 50px;
}

#selectEstatus, #selectArea, #selectCargoE, #inputSueldo {
    border-radius: 10px;
    border: 1px solid rgba(224, 224, 224, 1);
    color: rgb(147, 143, 143);
    padding: 1em 3em;
    margin: 10px 5px;
}
.con1-EditEmplead input{
    border-radius: 10px;
    border: 1px solid rgba(224, 224, 224, 1);
    color: rgb(147, 143, 143);
    padding: 1em 3em;
    margin: 10px 5px;   
}
.con2-EditEmplead input{
    border-radius: 10px;
    border: 1px solid rgba(224, 224, 224, 1);
    color: rgb(147, 143, 143);
    padding: 1em 3em;
    margin: 10px 5px;
}
