.M-odal {
    position: fixed;
    top: 25%;
    left: 87%;
    right: auto;
    bottom: auto;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    background: transparent;
    padding: 20px;
    border-radius: 8px;
  }
  
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.75);
  }
  
  .button-container {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
  }
  
  .button-container button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }

  .form{
    background-color:rgba(31, 145, 168, 1) ;
    border: none;
    margin: 2px;
    border-radius: 15%;

  }

  .edit{
    background-color: rgba(31, 145, 168, 1);
    border: none;
    margin: 2px;
    border-radius: 15%;

  }

  .delete{
    background-color:rgba(255, 66, 66, 1) ;
    border: none;
    margin: 2px;
    border-radius: 15%;
  }