.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: #ffffff;
  width: 100%;
}

.menu .header {
  background-color: rgba(31, 145, 168, 1);
  padding: 0px 650px;
  width: 100%;
}

.menu h1 {
  color: #ffffff;
  font-size: 40px;
  text-align: center;
  width: 100%;
  padding-top: 20px;
}
.menu-exit{
  background-color: rgba(23, 7, 91, 1);
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
  position: relative;
  align-items: center;
  align-content: center;
}
.menu-exit{
  left: 600px;
  top: -60px;
}
.menu .icon-exit{
  margin-right: 10px;
  font-size: 20px;
  color: rgb(237, 229, 229);
  width: 20px;
  text-align: center;
}

.content-cards{
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.content-cards-link {
  display: inline-block;
  text-decoration: none;
  
}

/*
.menu-button {
  background-color: rgba(31, 145, 168, 1);
  color: #ffffff;
  border: none;
  padding: 15px 90px;
  min-width: 350px;
  margin: 10px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  display: flex;
  align-items: center;
}

.menu-button:hover {
  
}
*/

.menu-exit:hover{
  background-color: rgba(61, 179, 205, 0.73);
}

.menu .icon {
  margin-right: 10px;
  font-size: 20px;
  color: rgb(0, 0, 0);
  width: 20px;
  text-align: center;
}

.menu a {
  color: transparent;
}

